@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
:root {
  /* --background: #D8D9D5; */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* for smooth sliding*/
#recent-works-swiper-1 .swiper-wrapper { 
    transition-timing-function: linear !important;
}
#recent-works-swiper-1 .swiper-slide { 
    height: auto;
}
#recent-works-swiper-2 .swiper-wrapper { 
    transition-timing-function: linear !important;
}
#recent-works-swiper-2 .swiper-slide { 
    height: auto;
}

#partners .swiper-wrapper { 
    transition-timing-function: linear !important;
  }

#team-swiper .swiper-slide { 
    height: auto;
}
/* globals.css or component css */
@media (min-width: 640px) {
  #team-swiper .swiper-button-next,
  #team-swiper .swiper-button-prev {
    display: none;
  }
}


.custom-class {
  display: block; /* Forces a new line */
  font-size: 20px; /* Smaller size */
  margin-top: 4px; /* Optional spacing */
}
