@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  /* --background: #D8D9D5; */
  --background: #ffffff;
  --foreground: #171717;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --line-height: 1.2;
  --color-primary: #060a2f;
  --color-secondary: #F87B1B;
  --color-accent: #CBD998;
  --color-light: #EEEEEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* @theme {
  --color-primary: #0C2B4E;
  --color-secondary: #1A3D64;
  --color-accent: #1D546C;
  --color-light: #F4F4F4;
} */
@theme {
  --color-primary: #060a2f;   
  --color-secondary: #F87B1B; 
  --color-accent: #CBD998;    
  --color-light: #EEEEEE;     
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  font-family: var(--font-jakarta);
  line-height: var(--line-height);
  background: #fff;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
  /* letter-spacing: 0.5px; */
}

/* for smooth sliding*/
#recent-works-swiper-1 .swiper-wrapper {
  transition-timing-function: linear !important;
}

#recent-works-swiper-1 .swiper-slide {
  height: auto;
}

#recent-works-swiper-2 .swiper-wrapper {
  transition-timing-function: linear !important;
}

#recent-works-swiper-2 .swiper-slide {
  height: auto;
}

#partners .swiper-wrapper {
  transition-timing-function: linear !important;
}
#marketing-tag-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

#team-swiper .swiper-slide {
  height: auto;
}

/* globals.css or component css */
@media (min-width: 640px) {

  #team-swiper .swiper-button-next,
  #team-swiper .swiper-button-prev {
    display: none;
  }
}


.custom-class {
  display: block;
  font-size: 20px;
  margin-top: 4px;
}

.highlight-service {
  background-color: var(--color-primary);
  transition: background-color 0.6s ease;
  border-radius: 10px;
  color: white;
}

.highlight-service .td-service-6-item-title span {
  color: var(--td-common-white);
}

.highlight-service .td-service-6-item-title h3 {
  color: #fff;
}


.td-text-invert-orange > div {
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 50%,
    var(--color-light) 50%
  );
}

#pricing-swiper .swiper-pagination .swiper-pagination-bullet-active{
  background-color: var(--color-secondary) !important; 
}

