@import "tailwindcss";
:root {
  /* --background: #D8D9D5; */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* for smooth sliding*/
#recent-works-swiper-1 .swiper-wrapper { 
    transition-timing-function: linear !important;
}
#recent-works-swiper-1 .swiper-slide { 
    height: auto;
}
#recent-works-swiper-2 .swiper-wrapper { 
    transition-timing-function: linear !important;
}
#recent-works-swiper-2 .swiper-slide { 
    height: auto;
}

#partners .swiper-wrapper { 
    transition-timing-function: linear !important;
  }

