@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@layer base {
  section {
    @apply pt-[30px] pb-[30px]   
           lg:pt-[60px] lg:pb-[60px];  
  }
}
:root {
  /* --background: #D8D9D5; */
  --background: #ffffff;
  --foreground: #171717;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --line-height: 1.2;
  --color-primary: #11224E;
  --color-secondary: #F87B1B;
  --color-accent: #CBD99B;
  --color-light: #EEEEEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* @theme {
  --color-primary: #0C2B4E;
  --color-secondary: #1A3D64;
  --color-accent: #1D546C;
  --color-light: #F4F4F4;
} */
@theme {
  --color-primary: #060a2f;
  --color-secondary: #F87B1B;
  --color-accent: #CBD998;
  --color-light: #EEEEEE;
  --font-jakarta: var(--font-jakarta);
  --font-bebas: var(--font-bebas);

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  font-family: var(--font-jakarta);
  line-height: var(--line-height);
  background: #fff;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
  /* letter-spacing: 0.5px; */
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* for smooth sliding*/
#recent-works-swiper-1 .swiper-wrapper {
  transition-timing-function: linear !important;
}

#recent-works-swiper-1 .swiper-slide {
  height: auto;
}

#home-testimonial .swiper-slide {
  height: auto;
}

#recent-works-swiper-2 .swiper-wrapper {
  transition-timing-function: linear !important;
}

#recent-works-swiper-2 .swiper-slide {
  height: auto;
}

#partners .swiper-wrapper {
  transition-timing-function: linear !important;
}

#marketing-tag-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

#marketing-team-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

#team-swiper .swiper-slide {
  height: auto;
}
#features-slider .swiper-slide {
  height: auto;
}
#features-slider .swiper-wrapper {
  padding-bottom: 50px;
}

#features-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
}
#process-slider .swiper-slide {
  height: auto;
}
#process-slider .swiper-wrapper {
  padding-bottom: 50px;
}

#process-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
}
#about-features .swiper-slide {
  height: auto;
}
#about-features .swiper-wrapper {
  padding-bottom: 50px;
}

#about-features .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
}

/* globals.css or component css */
@media (min-width: 640px) {

  #team-swiper .swiper-button-next,
  #team-swiper .swiper-button-prev {
    display: none;
  }
}


.custom-class {
  display: block;
  font-size: 20px;
  margin-top: 4px;
}

.highlight-service {
  background-color: var(--color-primary);
  transition: background-color 0.6s ease;
  border-radius: 10px;
  color: white;
}

.highlight-service ul {
  color: white;
}

.highlight-service .td-service-6-item-title span {
  color: var(--td-common-white);
}

.highlight-service .td-service-6-item-title h3 {
  color: #fff;
}


.td-text-invert-orange>div {
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right,
      var(--color-secondary) 50%,
      var(--color-light) 50%);
}

#pricing-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
}

.portfolio-text {
  font-weight: 700;
  font-size: 290px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-accent);
  margin-bottom: -90px;
  line-height: 0.9;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .portfolio-text {
    font-size: 150px;
    margin-bottom: -2%;
    line-height: 0.5;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .portfolio-text {
    font-size: 100px;
  }
}

@media (max-width: 575px) {
  .portfolio-text {
    font-size: 70px;
  }
}

.marketing-testimonial-team-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: var(--color-primary);
  position: relative;
  padding-left: 20px;
}

.marketing-testimonial-team-subtitle::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #ffbf43;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.marketing-price-btn {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: var(--color-secondary);
  border: 1px solid rgba(28, 29, 31, 0.15);
  border-radius: 10px;
  padding: 13px 31px;
  display: inline-block;
}

.marketing-price-btn.greens {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.marketing-price-btn:hover {
  background: var(--color-secondary);
  color: white;
}

.marketing-price-btn.greens:hover {
  background: #E86F00;
  color: white;
}

.marketing-pricing-list {
  padding: 30px 40px 40px 50px;
}

@media (max-width: 575px) {
  .marketing-pricing-list {
    padding: 25px 20px 20px 20px;
  }
}

.marketing-pricing-list ul li {
  font-weight: 500;
  font-size: 14px;
  color: var(--td-grey-5);
  position: relative;
  padding-left: 20px;
}

.marketing-pricing-list ul li:not(:last-child) {
  margin-bottom: 5px;
}

.marketing-pricing-list ul li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #555855;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

#team-marquee .rfm-marquee-container .rfm-marquee {
  align-items: start;
}

.td-portfolio-filter-btn button.active {
  /* color: var(--td-common-black); */
  border-color: var(--color-primary);
  font-weight: 700;
}

.td-portfolio-filter-btn button:hover {
  /* color: var(--td-common-black); */
  border-color: var(--color-primary);
}

.td-faq-2-wrap-right .td-faq-4-accordion .accordion-buttons .plus-icon::before {
  background-color: var(--color-primary);
}

.td-faq-2-wrap-right .td-faq-4-accordion .accordion-buttons .plus-icon::after {
  background-color: var(--color-primary);
}

/* .remove-pin-space .pin-spacer{
  padding-bottom: 0!important;
  margin-bottom: 140px!important;
  height: 700px!important;
  width: 100%;
} */

.td-service-pin-items .pin-spacer:last-child {
  /* margin-bottom: 200px !important;  */
  /* padding-bottom: 0 !important;   */
  /* height: 700px !important;         */
}

.td-about-main-feature-list ul li {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 1;
  color: var(--td-grey-1); */
  padding-left: 18px;
  position: relative;
  margin-bottom: 16px;
}
.td-about-main-feature-list ul li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: var(--color-primary);
  border-radius: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

